.cstmr_header {
	font-size: 20px;
	font-weight: 500;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	/* width: 100%; */
	height: 50px;
	justify-content: left;
	align-items: center;
	text-indent: 10px;
	padding: 0.5em;
	background-color: white;
	border-top: 1px solid #f4f5f7;
	border-left: 1px solid #f4f5f7;
	border-right: 1px solid #f4f5f7;
}
.cstmr_footer {
	font-size: 20px;
	font-weight: 500;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	/* width: 100%; */
	height: 50px;
	justify-content: left;
	align-items: center;
	text-indent: 10px;
	padding: 0.5em;
	background-color: white;
	border-bottom: 1px solid #f4f5f7;
	border-left: 1px solid #f4f5f7;
	border-right: 1px solid #f4f5f7;
}

.row {
	background-color: white;
	display: -webkit-flex;
	display: flex;
	border-left: 1px solid #f4f5f7;
	border-right: 1px solid #f4f5f7;
}

.column {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
	/* margin-left: 20px; */
	border-top: 1px solid #f4f5f7;
	border-bottom: 1px solid #f4f5f7;
	border-right: 1px solid #f4f5f7;
}

.cstmr_button {
	display: inline-flex;
	width: 30%;
	height: 50px;
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	font-weight: 400;
	font-size: 16px;
	border-style: none;
	padding: 0;
	cursor: pointer;
}

.link {
	text-decoration: none;
	color: rgb(45, 72, 191);
	font-size: medium;
	margin-left: -10px;
	height: 20px;
}
