.dashboard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding: 24px;
}

.dash_title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
}

.dash_text {
	font-weight: 300;
	margin: 0;
}

.dash_text-small {
	font-size: small;
	font-weight: 200;
	line-height: 10px;
	margin: 0;
}

.dash_text-log {
	font-weight: 360;
	margin: 0;
	font-size: medium;
}

.log {
	grid-column: span 2;
}

.dash_article {
	margin: 20px 0;
}
