.pagination_main {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 12px 14px;
	background-color: #ffffff;
	border: 1px solid #f4f5f7;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-weight: 500;
}

.pagination_button {
	background-color: transparent;
	border-style: none;
	padding: 0;
	cursor: pointer;
}

.pagination_input {
	font-weight: 600;
	font-size: medium;
	width: 60px;
	padding: 10px;
	color: black;
	border: 1px solid white;
	border-radius: 4px;
}
