.home_main {
	display: flex;
	padding: 24px;
}

.home_text {
	line-height: 26px;
	margin: 0 0 16px 0;
}

.home_title {
	font-weight: 400;
}

.home_text-grey {
	font-size: 18px;
	line-height: 22px;
	color: grey;
}

.home_link {
	text-decoration: none;
	color: rgb(73, 95, 192);
}

.home_pic {
	object-fit: scale-down;
	float: right;
	/* display: flex;
	flex-direction: column; */
	/* justify-content: flex-end; */
}

.home_pic-img {
	width: 384px;
	height: auto;
}

@media screen and (max-width: 1024px) {
	.home_main {
		flex-direction: column;
	}

	.home_pic-img {
		width: 100%;
	}
}
