.search_card {
	width: 100%;
	/* border-collapse: collapse; */
	padding: 20px;
	border-left: 1px solid #f4f5f7;
	border-right: 1px solid #f4f5f7;
	margin: 0 auto;
	background-color: #fff;
}

.form {
	color: white;
	display: flex;
	flex-direction: column;
	padding: 2px;
	border: 1px solid currentColor;
	border-radius: 5px;
	margin: 0 0 20px;
	width: 60%;
}

.input[type="search"] {
	width: 85%;
	height: 45px;
	background: transparent
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
		no-repeat 13px center;
	margin: 0;
	padding: 9px 4px 9px 40px;
	font-size: 14px;
	border: 1px solid black;
	border-radius: inherit;
	background-color: white;
}

/* .input[type="search"]::placeholder {
	background-color: white;
} */

.input[type="search"]:focus {
	border: 3px solid #85bee4;
	background-color: white;
	outline: none;
}

.h4_search {
	color: black;
	margin-top: 8px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.h4_bold {
	color: black;
	margin-top: 8px;
	margin-bottom: 10px;
	margin-left: 5px;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.small-label {
	font-size: large;
	padding-right: 20px;
	font-weight: 400;
	color: black;
}

.search_link {
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #376bdc;
}

.text_grey {
	color: grey;
	font-weight: 300;
	font-size: smaller;
	margin-top: 0;
	margin-bottom: 10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
	position: relative;
	font-size: 1rem;
	padding-left: 28px;
	padding-right: 15px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: black;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid grey;
	border-radius: 100%;
	background: white;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: "";
	width: 12px;
	height: 12px;
	background: white;
	position: absolute;
	border: 5px solid #007aff;
	top: -1px;
	left: -1px;
	border-radius: 100%;
	/* -webkit-transition: all 0.2s ease;
	transition: all 0.2s ease; */
}
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
