.empl_header {
	font-size: 16px;
	font-weight: 700;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	/* width: 100%; */
	height: 50px;
	justify-content: left;
	align-items: center;
	text-indent: 10px;
	padding: 1em;
	gap: -8px;
	background-color: white;
	border-top: 1px solid #f4f5f7;
	border-left: 1px solid #f4f5f7;
	border-right: 1px solid #f4f5f7;
}
.empl_footer {
	/* font-size: 20px; */
	/* font-weight: 500; */
	display: flex;
	/* display: -webkit-flex; */
	flex-direction: row;
	width: 100%;
	/* height: 50px; */
	justify-content: left;
	align-items: flex-start;
	text-indent: 10px;
	padding: 0.5em;
	background-color: white;
	border-bottom: 1px solid #f4f5f7;
	border-left: 1px solid #f4f5f7;
	border-right: 1px solid #f4f5f7;
}

.row {
	background-color: white;
	display: -webkit-flex;
	display: flex;
	border-left: 1px solid #f4f5f7;
	border-right: 1px solid #f4f5f7;
}

.column {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
	/* margin-left: 20px; */
	border-top: 1px solid #f4f5f7;
	border-bottom: 1px solid #f4f5f7;
	border-right: 1px solid #f4f5f7;
}

.empl_button {
	background-color: rgb(239 68 68);
	border-color: rgb(239, 68, 68);
	color: white;
	border-radius: 0.25rem;
	border-width: 0px;
	height: 42px;
	font-size: medium;
	display: inline-flex;
	/* justify-content: center; */
	padding: 0.7rem 1rem;
	/* text-align: start; */
	vertical-align: middle;
	white-space: nowrap;
	/* position: relative; */
	cursor: pointer;
	margin: 17px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

.empl_link {
	text-decoration: none;
	color: #3f75ed;
	font-size: medium;
	/* margin-left: -10px; */
	height: 20px;
}
