@media screen and (max-width: 1024px) {
	.table-data-p {
		border: none;
		border-bottom: none;
		position: relative;
		padding-left: 0px;
		margin-left: 200px;
		text-align: center;
		padding-top: 10px;
		margin-bottom: 10p;
	}
	.table-data-p:before {
		position: absolute;
		left: 6px;
		right: 30px;
		width: 200px;
		padding-right: 20px;
		white-space: nowrap;
		margin-left: -200px;
		font-weight: 500;
		text-align: left;
	}
	.table-data-p:nth-of-type(1):before {
		content: "Name";
	}
	.table-data-p:nth-of-type(2):before {
		content: "Qt Per Unit";
	}
	.table-data-p:nth-of-type(3):before {
		content: "Price";
	}
	.table-data-p:nth-of-type(4):before {
		content: "Stock";
	}
	.table-data-p:nth-of-type(5):before {
		content: "Orders";
	}
}
